@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Duru+Sans&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
